<div class="container">
  <div class="page-header">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="alert alert-info question">
    <strong>Question:</strong> I tried locating a beer and I got nothing! What gives?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> We are a start-up company and we rely on people to enter locations for us.  
    If nobody checked in a beer at your location, you would get "No beers at this location" warning.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Brew Search crashes! Uninstall! 0 stars!
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> We are at the early stage of our software development and bugs
    do happen.  Help us fix this by going to the <a routerLink="/contact">"contact us"</a> 
    page and tell us what happened and what mobile device so we can get this issue resolved.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Do I need GPS turned on to check-in places?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> No.  However, GPS will give you a more pinpoint location.
    All you need is internet data.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> What version of Android or IOS do you support?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> We support Android KitKat and above. For Apple, iPhone 5 and above.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Beer and brewery data isn't up to date
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> Click the 3 dots icon &nbsp;<i class="fa fa-ellipsis-v"></i>&nbsp; on the beer and brewery detail page to update.
    It takes 24 hours for the update to change upon approval.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Will you offer a Windows Phone version?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> No. Technology we use doesn't support Windows phone.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Do you sell my personal data to solicitors?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> No. We hate getting spammed just as much as you do.
  </div>
  <hr />  
  <div class="alert alert-info question">
    <strong>Question:</strong> Where do you get your beer and location information?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> We use 3rd party websites.  We use BreweryDB.com for beer / brewery information.
    For other locations, maps, and location reviews, we use Google.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> I'm traveling overseas.  Will Brew Search work in other countries?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> Yes it will.  As long as you have data connection, our App will work.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> How come I see Nail Bars when I search for bars?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> We know this problem exists.  The 3rd party compnay we use to pull data from 
    searches for where the business type is a bar or where the business name has the word "bar".  
    We are currently looking for a solution to fix this.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Your App said this brewery is open. In fact, it's been closed for awhile!
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> A lot of new breweries open and sadly, a lot of them go out of business.
    Flag the brewery as closed on the brewery detail page by clicking on  &nbsp;<i class="fa fa-ellipsis-v"></i>&nbsp; icon.
    Review process takes 24 hours and the brewery will be flagged as permanently closed.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> There's a beer/brewery that's not on your app.  How do I add it?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> You can either contact us and provide us with the name of the beer or brewery if possible
    and we'll take care of the rest. Or, you can click the "Post" button in the app menu tab to submit a new beer/brewery.
  </div>
  <hr /> 
  <div class="alert alert-info question">
    <strong>Question:</strong> How close do I have to be to check-in at a location?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> 1000 yards.
  </div>
  <hr />
  <div class="alert alert-info question">
    <strong>Question:</strong> Someone is giving false info on new check-ins.  How can I notify you?
  </div>
  <div class="alert alert-success answer">
    <strong>Answer:</strong> Click on the user's check-in detail, hit the red flag button, and tell us the reason why.
    We take users that abuse the system seriously and will have them removed.
  </div>
  <hr />    
</div>