<div class="footer center-on-small-only">
  <div class="container">
    <div class="row footer-top">
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">        
        <!--<h5>Get the App</h5>-->
        <h5>App Available Aug. 24th</h5>
        <img src="assets/buttons/google-button.png"/>
        <img src="assets/buttons/apple-button.png"/>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="text-center footer-links">
          <a routerLink="privacy">Privacy Policy</a>
          <a routerLink="terms">Terms of Use</a>
          <a routerLink="contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="container text-left social">
    <a class="btn btn-facebook btn-circle" href="http://facebook.com" target="_blank" role="button">
      <i class="fa fa-facebook"></i>
    </a>
  </div>  
  <div class="container-fluid copyright text-center">
    <h5>© 2017 Copyright Brew Search</h5>
  </div>  
</div>