#beer-results {
    background-color:#fff;
    margin-top:3rem;
    margin-bottom:3rem;
    border: 1px solid rgba(0,0,0,.25);
}

#beer-results .row {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#beer-results p {
    margin: 0 !important;
}

#beer-results a {
    display:block;
}

#beer-results a:hover {
    text-decoration:none;
}

.beer-img {
    margin-top:1rem;
}

.beer-img img {
    width:12rem;
}

.beer-header {
    padding-top:1rem;
    font-size:1.5rem;
    font-weight:bold;
}

.beer-style {
    font-weight:bold;  
}

.loader {
  height:50rem;
}

#search-box {
  position: relative;
  top:20px;
}

#alert-msg {
  padding: 5rem 0;
  min-height: 40rem;
}

beer-block {
    width:20rem;
    float:left;
    padding: 1rem;
}

.card img {
    width:242px !important;
}

h4.card-title {
    font-size:1.25rem;
}

.card {
    margin-bottom:0.5rem;
    margin-top:0.5rem;

}


