#search-box {
  position: relative;
  top:20px;
}

#brewery-detail {
    margin-top:3rem;
    margin-bottom:3rem;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,.25);
}

#static-map {
    padding-top:2rem;
}

.beer-info span {
   padding-left:1.5rem;
   display: inline-block;
}

.beer-info i {
    padding-right:0.5rem;
}

.beer-list {
    padding-top:3rem;
    padding-bottom:3rem;
}

.beer-row {
    margin-right:0.5rem;
    margin-left:0.5rem;
    margin-bottom:1rem !important;
}

.beer-row h4, p {
    margin-bottom:5px !important;
}

#social-media .btn{
    margin-top:0.5rem;
    width:15rem;
}

.review-avatar {
    width:4rem !important;
}

#brewery-reviews {
    padding-top:2rem;
}

.brew-thumb {
    padding:5px;
    cursor: pointer;
}

h4 {
    margin-top:2rem;
}

h2 {
    margin-top:1rem;
    margin-bottom:1rem;
}

#beer-logo {
    margin-top:1rem;
    margin-bottom:1rem;
}

app-rating {
    margin-bottom:1rem;
}