<app-search id="search-box"></app-search>

<div class="text-center loader" *ngIf="showLoader">
  <app-loader></app-loader>
</div>

<div id="brewery-detail" class="container" *ngIf="!showLoader">

  <div class="row">
    <div class="col-md-3 place-img text-center">
      <div>
        <img id="place-img" *ngIf="locationPhoto" [src]="locationPhoto" />
      </div>
      <div>
        <app-facebook [url]="pageURL"></app-facebook>
      </div>
      <div class="web-btn">
        <a *ngIf="location.website" class="btn btn-warning" target="_blank" [href]="location.website" role="button">
          <i class="fa fa-globe"></i> 
          View Website
        </a> 
      </div>    
    </div>
    <div class="col-md-9">
      <div class="text-center">
        <h2>{{location.name}}</h2>
        <div *ngIf="location.rating">
          <app-rating [rate]="location.rating"></app-rating>
        </div>       
      </div>
      <div class="alert alert-warning beer-info">
        <strong>Bar Info</strong>
        <div>
          <span *ngIf="location.rating"><i class="fa fa-caret-right"></i>Rating: {{location.rating}} out of 5</span>
          <span *ngIf="location.international_phone_number">
            <i class="fa fa-caret-right"></i>Phone: {{location.international_phone_number}}
          </span>
          <span *ngFor="let type of placeTypes">
            <i class="fa fa-caret-right"></i>
            {{type}}
          </span>
        </div>
        <div>
          <span><i class="fa fa-caret-right"></i>Address: {{location.vicinity}}</span>
        </div>
      </div>
      <gallery *ngIf="this.photoCount > 1" [photos]="location.photos"></gallery>
    </div>
  </div>
  <div class="row">
    <div *ngIf="location.reviews" class="col-md-6">
        <h4 class="review-head"><i class="fa fa-comments"></i> {{location.name}} Reviews</h4>
        <hr />      
        <div id="review-area" class="row alert alert-warning" *ngFor="let review of location.reviews">
          <hr />
          <div class="col-md-2 text-center">
            <img [src]="review.profile_photo_url" class="rounded-circle review-avatar" />
          </div>
          <div class="col-md-9">
            <p *ngIf="review.rating">
              <app-rating [rate]="review.rating"></app-rating>
            </p>
            <p *ngIf="review.text">
              <b>{{review.author_name}} said:</b>
              <read-more [text]="review.text" [maxLength]="200"></read-more>
            </p>
            <p class="text-right">
              {{common.timeConverter(review.time)}}
            </p>
          </div>            
        </div>
    </div>
    <div id="bar-hours" class="col-md-6" *ngIf="location.opening_hours">
      <div class="alert alert-warning beer-info">
        <h4>Bar Hours</h4>
        <div *ngFor="let hour of location.opening_hours.weekday_text">
          {{hour}}
        </div>
      </div>
      <div class="check-map" class="text-center">
        <strong>{{location.vicinity}}</strong>
          <static-map [lat]="location.geometry.location.lat" 
                      [lng]="location.geometry.location.lng"
                      [width]="420"
                      [height]="300"
                      [zoom]="14">
          </static-map>
      </div>      
    </div>
  </div>
</div>