

<!--
      <li active-trigger="beer-tab" [active]="setView('beer')" class="nav-item"><a data-toggle="tab" href="#beers" role="tab" (click)="clearStuff('beer')">Beers</a></li>
      <li active-trigger="brewery-tab" [active]="setView('brewery')" class="nav-item"><a data-toggle="tab" href="#brewery" role="tab" (click)="clearStuff('brewery')">Brewery</a></li>
      <li active-trigger="bar-tab" [active]="setView('bar')" class="nav-item"><a data-toggle="tab" href="#bars" role="tab" (click)="clearStuff('bar')">Bars</a></li>
-->  

<div id="custom-search-input" class="container">
  <div class="tabbable" [activeListener]="page">
    <ul *ngIf="showTabs" class="nav nav-tabs #page-search-area-tabs" role="tablist">
      <li activeTrigger="beer"class="nav-item" [active]="isActive('beer')"><a data-toggle="tab" href="#beers" role="tab">Beers</a></li>
      <li activeTrigger="brewery" class="nav-item" [active]="isActive('brewery')"><a data-toggle="tab" href="#brewery" role="tab">Brewery</a></li>
      <li activeTrigger="bar" class="nav-item" [active]="isActive('bar')"><a data-toggle="tab" href="#bars" role="tab">Bars</a></li>
    </ul>
    <div class="tab-content">
      <!-- Beer Tab Area -->
      <div class="tab-pane" [active]="isActive('beer')" id="beers" role="tabpanel">
        <div class="input-group col-md-12">            
            <input type="text" 
                    class="search-query form-control"
                    [(ngModel)]="qBeerSearch"
                    (ngModelChange)="getBeerSearchInput($event)"
                    required
                    placeholder="Enter Beer Name" />
            <span id="clear-button" class="input-group-btn" (click)="clearStuff('beer')">
              <i class="fa fa-times-circle fa-2x"></i>
            </span>                    
            <span class="input-group-btn">
                <button id="search-btn" class="btn btn-warning" [disabled]="beerBtnDisabled" type="button" (click)="doBeerSearch()">
                  <i class="fa fa-search fa-2x"></i>
                </button>
            </span>
        </div>
      </div>

      <!-- Brewery Tab Area -->
      <div class="tab-pane" [active]="isActive('brewery')" id="brewery" role="tabpanel">          
        <div class="input-group col-md-12">
            <span>
                <a class="btn choose-search dropdown-toggle hidden-sm-down" href="#" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong>Search By:</strong>
                  <div>
                    {{setSearhLabel('brewery',breweryOption)}} <i class="fa fa-caret-down"></i>
                  </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" (click)="setSearchOptions('brewery','name',true)">Brewery Name</a>
                  <a class="dropdown-item" (click)="setSearchOptions('brewery','city',true)">Brewery City</a>
                </div>                  
            </span>            
            <input type="text" 
                    class="search-query form-control"
                    [(ngModel)]="qBrewerySearch"
                    required
                    (ngModelChange)="getBrewerySearchInput($event)"
                    [placeholder]="breweryPlaceHolder" />
            <span id="clear-button" class="input-group-btn" (click)="clearStuff('brewery')">
              <i class="fa fa-times-circle fa-2x"></i>
            </span>
            <span>
                <button id="search-btn" class="btn btn-warning" [disabled]="breweryBtnDisabled" type="button" (click)="doBrewerySearch()">
                  <i class="fa fa-search fa-2x"></i>
                </button>
            </span>              
        </div>
        <div class="autocomplete-area" *ngFor="let city of cityPredictions" (click)="setGeoData(city,'brewery')">
          {{city.description}}
        </div>              
      </div>

      <!-- Bar Tab Area -->
      <div class="tab-pane" [active]="isActive('bar')" id="bars" role="tabpanel">
        <div class="input-group col-md-12">
            <span>
                <a class="btn choose-search dropdown-toggle hidden-sm-down" href="#" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong>Search By:</strong>
                  <div>
                   {{setSearhLabel('bar',barOption)}} <i class="fa fa-caret-down"></i>
                  </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" (click)="setSearchOptions('bar','name',true)">Bar Name</a>
                  <a class="dropdown-item" (click)="setSearchOptions('bar','city',true)">Bar City</a>
                </div>                  
            </span>            
            <input type="text" 
                    class="search-query form-control"
                    [(ngModel)]="qBarSearch"
                    required
                    (ngModelChange)="getBarSearchInput($event)"
                    [placeholder]="barPlaceHolder" />
            <span id="clear-button" class="input-group-btn" (click)="clearStuff('bar')">
              <i class="fa fa-times-circle fa-2x"></i>
            </span>                    
            <span class="input-group-btn">
                <button id="search-btn" class="btn btn-warning" [disabled]="barBtnDisabled" type="button" (click)="doBarSearch()">
                  <i class="fa fa-search fa-2x"></i>
                </button>
            </span>
        </div>
        <div class="autocomplete-area" *ngFor="let bar of barNamePredictions" (click)="setGeoData(bar,'bar-name')">
          {{bar.name}}
        </div>
        <div class="autocomplete-area" *ngFor="let city of cityPredictions" (click)="setGeoData(city,'bar-city')">
          {{city.description}}
        </div>                      
      </div>            
    </div>
  </div>
</div>