<div id="contact-page" class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="alert alert-warning" role="alert">
        <strong><i class="fa fa-envelope"></i></strong>
        If you have any questions, suggestions, want to advertise, report a bug, or have questions
        about our App, please let us know.
      </div>
    </div>
    <div class="col-md-7">
        <form action="#" method="#">
            <div class="panel panel-info">
              <div class="panel-heading" id="panel-heading">
                  <h2 class="titre">Contact Us</h2>
              </div>
              <div class="panel-body">
                  <form class="form" method="post">
                      <div class="form-group has-info">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                              <label for="name" class="sr-only"></label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required/><br/>
                          </div>
                      </div>                          
                      <div class="form-group has-info">
                          <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                              <label for="email" class="sr-only"></label>
                              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required/><br/>
                          </div>
                      </div>
                      <div class="form-group has-info">
                          <textarea class="form-control" id="exampleTextarea" rows="6" placeholder="Message"></textarea>
                      </div>
                      <span id="clear"></span>
                      <button type="submit" class="btn btn-warning btn-lg btn-block" >Submit</button><br/>
                  </form>
              </div>
            </div>
        </form>       
    </div>    
  </div>
</div>