#brewery-beers span {
  margin-right:1.5rem;
}

#brewery-beers i {
  margin-right:0.5rem;
}

.beer-row {
    /*border: 1px solid #CCC !important;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom:1rem;
}