#search-box {
  position: relative;
  top:20px;
}

#brewery-results {
    background-color:#fff;
    margin-top:3rem;
    margin-bottom:3rem;
    border: 1px solid rgba(0,0,0,.25);
}

#brewery-results .row {
  border-bottom: 1px solid rgba(0,0,0,.25);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.brewery-img {
    margin-top:1rem;
}

.brewery-img img {
    width:10rem;
}

.brewery-header {
    padding-top:1rem;
    font-size:1.25rem;
    font-weight:bold;
}

.card img {
    width:242px !important;
}

h4.card-title {
    font-size:1.25rem;
}

.card {
    margin-bottom:0.5rem;
    margin-top:0.5rem;

}