<div id="terms" class="container">
  <div class="page-title"><h2>Terms of Use</h2></div>

<h4>1. Introduction</h4>
<p>
  Thank you for visiting Brew Search and, if applicable, downloading and/or installing our App.  
  Please read these Terms of Service and our Privacy Policy carefully as you must agree to both 
  documents in order to have permission to use our Service.
</p>

<h4>2. Definitions</h4>
<p>
  Throughout this Agreement, we may use certain words or phrases, and it is important that you understand 
  the meaning of them.  The list is not all-encompassing and no definition should be considered binding 
  to the point that it renders this Agreement nonsensical:
</p>
<p>
  “Agreement” refers to these Terms of Service;
</p>
<p>
  “App” refers to our mobile software application;
</p>
<p>
  “Brew Search” refers to our company, known as “Brew Search LLC”; our Site; our App; our Service; or a combination 
  of all or some of the preceding definitions, depending on the context in which the word is used;
</p>
<p>
  “Service” refers to the services that we provide, including our Site and our App;
</p>
<p>
  “Site” refers to our website, www.brewsearchapp.com, brewsearch.com, or about.brewsearch.com;
</p>
<p>
  “User” refers to anyone who uses our Service, including general visitors to our Site;
</p>
<p>
  “You” refers to you, the person who is entering into this Agreement with Brew Search.
</p>

<h4>3.  How Brew Search Works</h4>
<p>
  Brew Search is currently targeted at sellers and consumers of craft beer.  Our Service is designed to 
  notify Users of when their favorite beers go on tap or are released in store.  Additionally, our 
  Service will use an iBeacon to permit consumers to check into restaurants so that owners of those 
  restaurants are informed of how long consumers are in those restaurants.  Our Service will also 
  permit Users to discover more information about each other via Facebook.  At this time, our Service 
  is designed for craft beer and restaurants, but we may expand it to apply to other beverages and venues in the future.
</p>

<h4>4.  Eligibility</h4>
<p>
  In order to use our Service, you must meet a number of conditions, including but not limited to:
</p>

<ul>
  <li>
    You must not be in violation of any embargoes, export controls, or other laws of the United States 
    or other countries having jurisdiction over this Agreement, Brew Search, and yourself.  For example, if the Office
    of Foreign Assets Control prohibits conducting financial transactions with nationals, residents, or banks 
    of your country, you must not use our Service.
  </li>
  <li>
    You must be the minimum age required to enter into a contract and purchase alcohol in the area in which 
    you reside and, in any event, must not be less than 18 years of age.
  </li>
  <li>
    You must not sign up on behalf of a natural person other than yourself.
  </li>
  <li>
    You must, if signing up on behalf of a person other than a natural person, be authorized by that person 
    to bind it to this Agreement and you hereby warrant that you are binding both that person and yourself 
    to this Agreement and that both of you shall be jointly and severally liable to Brew Search for any duties 
    imposed under, or breaches of, this Agreement.
  </li>
  <li>
    You must agree that we may create your account using OAuth/OpenID Connect.
  </li>
  <li>
    You must provide us with personal information, payment information, and other information that we
     deem necessary to provide you with our Service.
  </li>
</ul>


<h4>5.  Nature of Service</h4>
<p>
  Brew Search is provided to facilitate information sharing and customer service between consumers and members of 
  the beverage industry and hospitality business.  However, Brew Search may not be appropriate for your purposes, 
  and in any event, Brew Search does not endorse any of its Users unless otherwise stated.  You therefore agree 
  to release Brew Search from any liability relating to the actions of any other User who may use our Service 
  and you are advised to not enter into relations with any other party any differently than you would if you 
  were not a User of Brew Search.
</p>
<h4>6.  Rules of Use</h4>
<p>
You must not:
</p>
<ul>
  <li>
    Violate the laws of the United States, its states, or any foreign political entity having jurisdiction over
     this Agreement, whether or not the foreign political entity is a country or a subdivision (such as a state or province)
      or municipality (such as a city, town, county, or region) of a foreign country.
  </li>
  <li>
    Post or send anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable 
    according to the opinion of Brew Search or its delegates.
  </li>
  <li>
    Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate 
    the rights of a third party.
  </li>
  <li>
    Sell alcohol to minors or in violation of any licensing conditions imposed upon you, or promote the consumption 
    of such unauthorized sale or consumption.
  </li>
  <li>
    Rate, review, or otherwise assess any business or beer where a reasonable person would believe that there 
    could be an appearance of bias on your part, including rating your own business or beer or that of a competitor.
  </li>
  <li>
    Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the Brew Search Site,
     Service, or its Users’ computers.
  </li>
  <li>
    Do anything else which could bring Brew Search into disrepute or violate the rights of any person.
  </li>
  <li>
      Brew Search reserves the right to block, edit, delete, or otherwise exercise editorial discretion 
      to ensure that the rules contained in this section of this Agreement are followed.
  </li>
</ul>

<h4>7.  Payment and Refunds</h4>
<p>
  Payment may be made by means of credit card, PayPal or purchase order.  Unless otherwise stated, all 
  prices are listed in United States dollars.  Rebilling will be conducted at thirty day intervals.  
  In the event that you are offered a free trial period, you will be billed immediately upon the expiration
   of such a trial period.  Because our Service is intangible, you may cancel your subscription at any 
   time but no refunds will be permitted, even on a pro rata basis.  Additional terms surrounding 
   payment may be located on our Site or communicated to you directly and are hereby incorporated 
   into this Agreement by reference.
</p>

<h4>8.  Chargebacks, Credit Card Cancellations, and PayPal Disputes</h4>
<p>
  Where a User conducts a chargeback or PayPal dispute against Brew Search, such User shall be liable to
   Brew Search for the full amount reversed as a result of such chargeback or PayPal dispute, as well 
   as all reasonable attorneys’ fees, collection agency fees, court costs, disbursements, and other 
   expenses incurred by Brew Search in its enforcement of its rights under this section.
</p>
<p>
  Users are responsible for ensuring that their payment methods are able to be charged on time and as required.  
  Should a User’s payment not be charged due to a credit card or PayPal account transaction being declined, 
  Brew Search may choose to inform the User of the problem and give the User time to correct the error, 
  but is under no obligation to do so and may terminate such a User’s account immediately and delete 
  all associated User data without notice.
</p>

<h4>9.  Authority to Release Information</h4>
<p>
  Brew Search may share data about consumer trends and other information with businesses and other 
  interested parties.  You agree that we may share such information for commercial and non-commercial
   purposes without notification or remuneration o you.
</p>

<h4>10. Third Party Charges</h4>
<p>
  Because our App is a mobile software application, your mobile carrier may assess data, text messaging,
   or other charges against you while using all or some features of our App or our App in general.  You agree 
   that Brew Search is not responsible for any such charges and you are advised to contact your mobile carrier 
   to ensure that you are fully aware of the cost of using our Service.
</p>
<h4>11.  Limited License</h4>
<p>
  The Brew Search App is offered on a licensed basis.  By downloading and/or installing our App, you 
  are agreeing to be granted a revocable license to use our Service for your own personal purposes.  
  You agree not to attempt to reverse engineer, resell, copy, or otherwise tamper with or distribute our Service.
</p>
<p>
  We may revoke this license to you at any time without compensation.  You agree that upon receiving 
  notice of such revocation, you will make all reasonable efforts to remove any of our proprietary 
  files from your hardware or any hardware under your control.
</p>
<h4>12.  Our Copyright</h4>

<p>Brew Search values its copyright as it distinguishes us from third party competitors.  You agree not to copy, distribute, 
  display, disseminate, or otherwise reproduce any of the information made available through the Service—including 
  third party-owned content—without receiving our prior written permission or that of the relevant copyright holder.
</p>
<h4>13.  Your Copyright</h4>

<p>Brew Search must be assured that it has the right to use the content that is published through its Service by its Users. 
   Such content may include, but is not limited to, photographs, videos, text, audio, and other materials.  Whenever 
   submitting content to our Service, you agree that you are granting us a non-exclusive, universal, perpetual, 
   irrevocable, sublicensable, commercial and non-commercial right to use, distribute, sell, publish, and 
   otherwise make use of the content that you submit to us.  You warrant to us that you have the right to
    grant us this right over the content, and that you will indemnify us for any loss resulting from a breach 
    of this warranty and defend us against claims regarding the same.
</p>

<h4>14.  Trademarks</h4>

<p>
  Brew Search is a mark used by us, Brew Search LLC, to uniquely identify our Site, App, Service, and business.  
  You agree not to use this phrase anywhere without our prior written consent.  Additionally, you agree 
  not to use our trade dress, or copy the look and feel of our website or its design, without our prior 
  written consent.  You agree that this paragraph goes beyond the governing law on intellectual property 
  law, and includes prohibitions on any competition that violates the provisions of this paragraph, 
  including starting your own competing website or business.
</p>

<h4>15.  Revocation of Consent</h4>
<p>
  We may revoke our consent for your use of our intellectual property, or any other permission granted to you 
  under this Agreement, at any time.  You agree that if we so request, you must take immediate action to remove
   any usage of our intellectual property that you may have engaged in, even if it would cause a loss to you.
</p>
<h4>16.  Copyright &amp; Trademark Infringement</h4>
<p>
  We take copyright infringement very seriously, and we have registered a Copyright Agent with the United 
  States Copyright Office, which limits our liability under the Digital Millennium Copyright Act.  If 
  you believe that your copyright has been infringed, please send us a message which contains:
</p>
<ul>
<li>Your name.</li>
<li>The name of the party whose copyright has been infringed, if different from your name.</li>
<li>The name and description of the work that is being infringed.</li>
<li>The location on our website of the infringing copy.</li>
<li>
  A statement that you have a good faith belief that use of the copyrighted work described above is not 
  authorized by the copyright owner (or by a third party who is legally entitled to do so on behalf of 
  the copyright owner) and is not otherwise permitted by law.
</li>
<li>
  A statement that you swear, under penalty of perjury, that the information contained in this notification 
  is accurate and that you are the copyright owner or have an exclusive right in law to bring infringement 
  proceedings with respect to its use.</li>
</ul>
<p>
  You must sign this notification electronically and send it to our Copyright Agent at hello@bresearch.com.
</p>
<p>
  Although U.S. law does not provide for a similar procedure for trademark infringement, we recommend that 
  you send us similar information to that above in regards to any allegation of trademark infringement, and 
  we will address it as soon as practicable.
</p>

<h4>17.  Communications Decency Act</h4>
<p>
  Similar to the DMCA provisions above, United States law—specifically Section 230 of the Communications 
  Decency Act—creates a defense for us for the actions of third parties in regards to any defamatory content
   published through our Service.  Although we are not liable for defamatory words published through our 
   Service by our Users even if given notice, we do prohibit defamation under this Agreement and we may, 
   if we believe the situation warrants it, take action against the offending User.  Please notify us at 
   hello@brewsearch.com if any of our Users have posted anything that you believe is defamatory.
</p>
<h4>18.  Representations &amp; Warranties</h4>
<p>
  WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR 
  PURPOSE.  YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION 
  TO OR ARISING FROM THIS AGREEMENT OR OUR SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR 
  SERVICE, NEGLIGENCE, OR ANY OTHER TORT.  TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY,
   YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY 
   TO, IF SUCH A MINIMUM EXISTS.
</p>
<p>
  YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, 
  INCLUDING BUT NOT LIMITED TO PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE 
  WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT TOWARDS YOU.
</p>
<p>
  YOU AGREE THAT WE ARE NOT RESPONSIBLE FOR ANY INJURY OR LOSS SUFFERED BY YOU AS A RESULT—IN WHOLE OR IN PART—OF 
  THE ACTIONS OF ANY OTHER USER.
</p>
<p>
  YOU AGREE THAT WE ARE NOT RESPONSIBLE FOR ANY FAILURE ON THE PART OF A PAYMENT PROCESSOR, INCLUDING PAYPAL OR 
  THE CREDIT CARD COMPANY OR BANK THAT YOU USE TO FUND PAYPAL, TO DIRECT PAYMENTS TO THE CORRECT DESTINATION, OR 
  ANY ACTIONS ON THEIR PART IN PLACING A HOLD ON YOUR FUNDS.
</p>
<p>
  WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY 
  FAILURES OR DISRUPTIONS, UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR 
  WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.
</p>
<p>
  THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF 
  THIS AGREEMENT.  NOTHING IN THE PROVISIONS OF THIS “REPRESENTATIONS & WARRANTIES” SECTION SHALL BE CONSTRUED 
  TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.
</p>
<p>
  For Jurisdictions that do not allow us to limit our liability: Notwithstanding any provision of these Terms, 
  if your jurisdiction has provisions specific to waiver or liability that conflict with the above then our 
  liability is limited to the smallest extent possible by law.  Specifically, in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the future.
</p>
<p>
  IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE 
  FOLLOWING APPLIES.  FOR EXAMPLE, CALIFORNIA RESIDENTS MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE 
  THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542, WHICH STATES, “A GENERAL RELEASE DOES NOT 
  EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME 
  OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER 
  SETTLEMENT WITH THE DEBTOR.”  YOU HEREBY WAIVE THIS SECTION OF THE CALIFORNIA CIVIL CODE.  YOU HEREBY
   WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT AS THE AFOREMENTIONED RELEASE.
</p>
<h4>19.  Indemnity</h4>
<p>
  You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or 
  relate to this Agreement or the provision of our service to you, including any damages caused by your use 
  of our Service.  You also agree that you have a duty to defend us against such claims and we may require 
  you to pay for an attorney(s) of our choice in such cases.  You agree that this indemnity extends to 
  requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements.  In the event 
  of a claim such as one described in this paragraph, we may elect to settle with the party/parties making 
  the claim, and you shall be liable for the damages as though we had proceeded with a trial.
</p>

<h4>20.  Choice of Law</h4>
<p>
  This Agreement shall be governed by the laws in force in the State of Michigan.  The offer and acceptance 
  of this contract are deemed to have occurred in the State of Michigan.
</p>
<h4>21.  Forum of Dispute</h4>
<p>
  You agree that any dispute arising from or relating to this Agreement will be heard solely by a court
   of competent jurisdiction in the State of Michigan.  Specifically, where the subject matter of a 
   dispute is eligible for it, you agree that any disputes shall be heard solely within the lowest 
   civil court of competent jurisdiction in the State of Michigan (“Small Claims Court”) in accordance 
   with MCL 600.8401 through MCL 600.8427, MCL 600.8302, MCR 4.301 through MCR 4.306, and all other applicable legislation.
</p>
<p>
  If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by 
  the Small Claims Court, you agree not to bring the other claims against us and to instead proceed 
  within the Small Claims Court.
</p>
<p>
  If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the Small 
  Claims Court, you agree to waive your right to collect any damages in excess of the monetary jurisdiction 
  and instead still bring your claim within the Small Claims Court.  At the time of drafting this 
  Agreement, the monetary jurisdiction of the Small Claims Court is $5,000.
</p>
<p>
  You agree that if a dispute is eligible to be heard in Small Claims Court but you would be entitled to an 
  additional or alternative remedy in a higher court, such as injunctive relief, you will waive your right to 
  that remedy and still bring the dispute within the Small Claims Court.
</p>
<p>
  If you bring a dispute in a manner other than in accordance with this section, you agree that we may move 
  to have it dismissed, and that you will be responsible for our reasonable attorneys’ fees, court costs,
   and disbursements in doing so.
</p>
<p>
  You agree that the unsuccessful party in any dispute arising from or relating to this Agreement will be 
  responsible for the reimbursement of the successful party’s reasonable attorneys’ fees, court costs, and disbursements.
</p>

<h4>22.  Force Majeure</h4>
<p>
  You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it
   is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, 
   riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), embargoes, postal 
   disruption, communication disruption, unavailability of payment processors, failure or shortage of 
   infrastructure, shortage of materials, or any other event beyond our control.
</p>
<h4>23.  Severability</h4>
<p>
  In the event that a provision of this Agreement is found to be unlawful, conflicting with another 
  provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though 
  it had been entered into without that unenforceable provision being included in it.
</p>
<p>
  If two or more provisions of this Agreement are deemed to conflict with each other’s operation, Brew Search 
  shall have the sole right to elect which provision remains in force.
</p>
<h4>24.  Non-Waiver</h4>
<p>
  Brew Search reserves all rights afforded to us under this Agreement as well as under the provisions 
  of any applicable law.  Our non-enforcement of any particular provision or provisions of this 
  Agreement or any applicable law should not be construed as our waiver of the right to enforce that 
  same provision under the same or different circumstances at any time in the future.
</p>
<h4>25.  Termination & Cancellation</h4>
<p>
  We may terminate your access to our Site and Service at our discretion without explanation, though 
  we will strive to provide a timely explanation in most cases.  Our liability for refunding you, 
  if you have paid anything to us, will be limited to the amount you paid for goods or services 
  which have not yet been and will not be delivered, except in cases where the termination or 
  cancellation was due to your breach of this Agreement, in which case you agree that we are not 
  required to provide any refund or other compensation whatsoever.
</p>
<p>
  Under no circumstances, including termination or cancellation of our Service to you, will we be 
  liable for any losses related to actions of other Users.
</p>
<h4>26.  Assignment of Rights</h4>
<p>
  You may not assign your rights and/or obligations under this Agreement to any other party without our 
  prior written consent.  We may assign our rights and/or obligations under this Agreement to 
  any other party at our discretion.
</p>
<h4>27.  Amendments</h4>
<p>
  We may amend this Agreement from time to time.  When we amend this Agreement, we will update this 
  page accordingly and require that you accept the amendments as a condition of your continued use of our Service.
</p>

<h4>28.  California Users and Residents</h4>
<p>
  Pursuant to California Civil Code Section 1789.3, any questions about pricing, complaints, or inquiries 
  about Brew Search must be addressed to our agent for notice and sent via certified mail to that agent.  
  For our agent’s most current contact information, please send a request to hello@brewsearch.com.
</p>
<p>
  Lastly, California users are also entitled to the following specific consumer rights notice: The 
  Complaint Assistance Unit of the Division of Consumer Services of the California Department of 
  Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Sacramento, CA 95834, 
  or by telephone at (916) 445-1254 or (800) 952-5210.
</p>
</div>