#beer-detail {
    margin-top:3rem;
    margin-bottom:3rem;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,.25);
}

#search-box {
  position: relative;
  top:20px;
}

.social-btns a {
    float: left;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

#brewery-info span {
  margin-right:1rem;
}

#brewery-info i {
    margin-right:0.5rem;
}

#brewery-locations {
    margin-top:2rem;
}

#brewery-locations p {
    line-height: 1.75rem;
    margin-bottom: 0 !important;
}

#brewery-locations div {
    padding-bottom: 1rem !important;
}

#brewery-locations .city {
    font-size:1rem;
    font-weight:bold;
}

#brewery-locations .loc-type {
    font-size:0.9rem;
}

#brewery-beers {
    clear: left;
}

#brewery-beers span {
  margin-right:1.5rem;
}

#brewery-beers i {
  margin-right:0.5rem;
}

#get-more {
    margin-bottom:2rem;
}
.beer-row {
    border: 1px solid #CCC !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom:1rem;
}