<div class="container">
  <div class="page-header">
    <h2>About Us</h2>
  </div>
  <p>
    There are two things we love at Brew Search:  Programming and enjoying craft brew.  
    We came up of the idea of a beer version of Tinder&copy; called Binder. Our App would suggest beers you might like based
    on the ones that fit your taste profile.  After some research, we tossed the idea because we found that
    beer apps today were lackluster, ancient, and hard to use. Thus, Brew Search is born. We decided to be 
    the all inclusive beer app for anybody that loves craft beer.
  </p>
  <p>
   Our mission is to help everybody find their favorite beer at a nice location, introduce new craft beers, 
   and an app that's easy and fun to use. The success of Brew Search highly depends on our community in populating 
   beers by location.  Through crowdsource, we hope to become the biggest beer directory in the world!   
  </p>
  <p>
    We also do beer events such as beer festivals. If you wanted to know everything about the beer and brewery
    at the event, you would need a book with over 100 pages. With our app, you can plan ahead of time.  At the 
    event, easily find where the brewery booth is located using our interactive map and check the ones you 
    like to enjoy after the event. Who's guilty of going to an event and not remembering the name of the beer
    the next day? I know I am.
  </p>
  <p>
    One thing we take pride in our app is we're brewery friendly. Not only are we a beer app, we're a brewery app.
    We list all the breweries in your hometown with their list of beers on tap with a detailed description of the brewery. 
    We encourage people to visit their local breweries, check-in with our app, and buy a couple of pints to support the 
    small micro-breweries.
  </p>
  <p>
   Please contact us if you have any questions, comments, or if you're an event organizer that wants us to 
   help promote your beer event. 
  </p>

  <p>Cheers!<br />Brew Search Team</p>
    
</div>