<!-- Fixed navbar -->
<nav id="nav-header" class="navbar navbar-toggleable-md fixed-top bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>  
  </button>
  <a class="navbar-brand" routerLink="/">
    <img src="assets/images/brewsearch-logo.png" />
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="find-beers">Beers</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="find-breweries">Breweries</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="find-bars">Bars</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="getapp">Get the App</a>
    </div>
  </div>
</nav>