<div class="todo">

  Todo component
    <form #f="ngForm" (ngSubmit)="addTodo()">
    <input name="newTodo" [(ngModel)]="newValue">
    <button>Submit</button>
  </form>

  <div class="table">
    <div class="row header">
      <div class="cell">Id</div>
      <div class="cell">Created at</div>
      <div class="cell">Value</div>
      <div class="cell">Completed</div>
    </div>
    <div class="row" *ngFor="let todo of todos">
      <div class="cell">{{todo.id}}</div>
      <div class="cell">{{todo.createDate}}</div>
      <div class="cell">{{todo.name}}</div>
      <div class="cell">{{todo.isOrganic}}</div>
    </div>

</div>
