#nav-header {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 3px 5px rgba(0,20,30,0.5);
    padding: 0 1rem;  
}

.bg-faded {
    background-color: #C81B02;
    opacity:1;         
}

#nav-header a {
    color:#ffffff;
    font-size: 16px;
    font-family: 'Source Sans Pro',sans-serif !important;
    min-height:50px !important;
    line-height: 50px !important;
    padding: 0 20px;
        
}

.navbar-brand {
    color:#ffffff;
    min-height:50px !important;
    line-height: 50px !important;
    padding: 0;
    font-weight: bold;
}

a.nav-item:hover {
    text-decoration: none;
    background-color:#A60900;
    opacity:0.8;
}

a.active {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2) inset;
}

.navbar-toggler {
    color:#fff;
}

#nav-header .fa-bars {
    font-size:2rem;
    padding-top:0.25rem;
    cursor: pointer;
    outline: none;
}

body {
    padding-top: 50px;
    background-color:#eee;
}

.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.4;
    border-radius: 30px;
}  

.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;    
}

.card {
    border-radius: 2px;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem!important;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);   
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;    
}

.footer {
    background-color: #333 !important;
    color:#fff;
    min-height:10rem;
}

.footer a {
    color:#fff;
    font-weight:1rem;
    padding: 0 0.5rem;

}

.footer-top {
   padding:2rem;
}

.footer-links {
    padding-top:1rem;
}

.footer-links a {
    padding-top:1rem;
    font-size: 15px !important;
    display:inline-block;
}

.copyright {
    background-color: #222 !important;
    vertical-align: middle !important;
}

.copyright h5 {
    padding:1rem;
}

.footer hr {
     border-top: 1px solid #222;
}

.footer .social {
    padding:2rem;
}

.footer h5 {
    font-size: 14px !important;
}

a {
    color:#f0ad4e;
}

a:hover {
    color:#eea236;
}

.btn {
    cursor: pointer;
}